@use '../mixins/responsive.scss' as *;

.about-me {

   margin-top: 100px;

   &__flex{
      margin: 25px;
   }

   &__description{
      margin-top: -30px;
   }

   &__container{
      @include responsive (laptop) {
         margin-top: 100px;
        
     }
   }

   &__flex{
      @include responsive (laptop) {
         display: flex;
         align-items: center;
         flex-wrap: wrap;
     }
   }

};

