@use '../mixins/responsive.scss' as *;

.home{
    position: relative;
    height: 100vh;
    
}

.home-titles__container{
    position:relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.home__title{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 2.4rem;
    font-family: 'montreal';

    &__container{
       margin: 25px;
    }

    @include responsive (tablet) {
        font-size: 3rem;
    }

    @include responsive (laptop) {
        font-size: 4.2rem;
    }

    @include responsive (desktop) {
        font-size: 5rem;
    }

};

.name{
    font-size: 1.10rem;
    font-family: 'clash-regular';
    margin-top: -30px;
    
    &__container{
        margin-right: 25px;
        margin-left: 25px;
        margin-top: -15px;
    }

    @include responsive (tablet) {
        font-size: 2rem;
    }

}

.color{
    font-family: 'montrealbold';
    -webkit-text-stroke: 1.2px rgb(55, 0, 255);
    color: transparent;
}




.blue{
    color:rgb(55, 0, 255);
}
