.fa-solid{
    font-size: 2rem;
    position: absolute;
    top:30px;
    left:30px;
}

.scroll__container{
    position: relative;
    width: 90px;
    height: 90px;
    top:550px;
    left:150px;
}

.scroll-down{
    position: absolute;
    top: 50px;
    align-items: center;
}