@use '../mixins/responsive.scss' as *;

.title{
    font-size: 2.2rem;
    font-family: 'vercetti';

    @include responsive (tablet) {
        font-size: 4rem;
    }

    @include responsive (desktop) {
        font-size: 5rem;
    }
    
}

.home__title{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.name{
    font-size: 1.10rem;
    font-family: 'clash-regular';

    @include responsive (tablet) {
        font-size: 2rem;
    }
}

.color{
    //-webkit-text-stroke: 1px rgb(255, 114, 114);
    color:rgb(255, 114, 114);
}

.title__container{
    position: absolute;
    top:15px;
    left:20px;
}
   
.name__container{
    position: absolute;
    left: 20px;
    top: 425px; 
    
    @include responsive (tablet){
        top: 715px;
    }

    @include responsive (laptop){
        top: 540px;
    }

    @include responsive (desktop) {
        top: 575px;
    }
}
   