@use '../mixins/responsive.scss' as *;

.home-titles__container{
    position:relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.home__title{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 2.4rem;
    font-family: 'montreal';

    &__container{
       margin-left: 15px;
       margin-top: 15px;
    }

    @include responsive (tablet) {
        font-size: 4.5rem;
    }

    @include responsive (laptop) {
        font-size: 5rem;
    }

    @include responsive (desktop) {
        font-size: 6.5rem;
    }

}

.name{
    font-size: 1.10rem;
    font-family: 'clash-regular';
    
    &__container{
        margin-left: 20px;
    }

    @include responsive (tablet) {
        font-size: 2rem;
    }

}

.color{
    font-family: 'montrealbold';
    -webkit-text-stroke: 1.2px rgb(255, 114, 114);
    color: transparent;
}

   