//me gusta con los span coloreados
@font-face {
    font-family: 'neutralface';
    src: url('/fonts/NeutralFace.otf')
}

@font-face {
    font-family: 'neutralface-bold';
    src: url('/fonts/NeutralFace-Bold.otf');
}
//idem
@font-face {
    font-family: 'vercetti';
    src: url('/fonts/Vercetti-Regular.otf');
}

//subtitulo y texto
@font-face {
    font-family: 'clash-regular';
    src: url('/fonts/ClashDisplay-Regular.otf');
}
//título
@font-face {
    font-family: 'clash-semibold';
    src: url('/fonts/ClashDisplay-Semibold.otf');
}
//título nuevo
@font-face {
    font-family: 'montreal';
    src: url('/fonts/NeueMontreal-Regular.otf');
}

@font-face {
    font-family: 'montrealbold';
    src: url('/fonts/NeueMontreal-Bold.otf');
}

//nuevos
@font-face {
    font-family: 'humane-regular';
    src: url('/fonts/Humane-Regular.otf');
}

@font-face {
    font-family: 'humane-medium';
    src: url('/fonts/Humane-Medium.otf');
}

